@font-face {
    font-family: 'Minecraft';
    src: local('Minecraft'), url('/font/Minecraft.ttf') format('truetype');
}

html,
body {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-family: "Minecraft";
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    user-select: none;
    box-sizing: border-box;
}