.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 20px;
    display: flex;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5), inset 0 10px 10px 0 rgba(255, 255, 255, 0.5);
}
.backdrop {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    bottom: 0;
    height: 100vw;
    position: fixed;
    background-image: url('/img/32.png');
    background-size: cover;
    background-position: center;
    z-index: -1000;
    object-fit: fill;
}

.topbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    display: flex;
    flex: 1;
    padding: 2rem 0;
    font-size: 25px;
    border-bottom: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}

.footer a {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.functionSelect {
    margin: 1vh;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
}